$color: #FFF;

@keyframes ball-bounce {
	0% { transform: scale(1.2, 0.5) translateY(16px); }
	20% { transform: scale(1, 1); }
	100% { transform: scale(0.9, 1.1) translateY(-16px); }
}

.bounce-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	padding: 8px;

	&:before, &:after {
		content: '';

		display: relative;
		margin: 8px;

		width: 16px;
		height: 16px;
		border-radius: 100%;
		background-color: $color;

		animation: ball-bounce 400ms cubic-bezier(0.2, 0.5, 0.5, 1) infinite alternate;
	}

	&:after {
		animation-delay: 100ms;
	}
}
